@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
    background: url('wallpaper.gif');
    font-family: Poppins-Regular, sans-serif;
}

.navbar {
    background-color: #2d0250;
    padding: 0px;
    border-radius: 25px;
}

#logo {
    height: 90px;
    width: 90px;
    margin: -10px 56px -21px;
    cursor: pointer;
    
}

ul {
    list-style-type: none;
}
  
.fa {
    font-size: 52px;
    color: #b504e1;
    margin: 7px 37px -2px
}

.fa:hover {
    color: white;
}

li {
    float: left;
    height: 67px;
    border-radius: 25px;
    margin: 7px 2px -8px;
}


#info {
    border-radius: 50%;
    background-color: #b504e1;
    width: 73px;
    height: 66px;
    padding-right: 14px;
    margin-right: -1px;
}

.fa-info {
    color: black;
    margin: 8px 27px 6px;
}

.jumbotron {
    height: 32rem;
    width: 44rem;
    border-radius: 20px;
    background-color: #b504e1;
    margin: 100px 321px 17px;
    text-align: center;
}

p {
    font-size: 39px;
    font-family: Poppins-Regular, sans-serif;
    color: white;
    text-decoration: none solid rgb(227, 119, 25);
    text-align: center;
}

a {
    font-size: 39px;
    font-family: Poppins-Regular, sans-serif;
    color: white;
    text-decoration: none solid rgb(227, 119, 25);
    text-align: center;
    margin: 10px 10px 10px;
}

a:hover {
    color: rgb(227, 119, 25);
}

img { 
    max-width: 100%; height: auto; 
}



