body, html {
	font-family: Poppins-Regular, sans-serif;
    background: url('/static/images/wallpaper.gif');
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins-Regular, sans-serif;
    color: white;
    text-decoration: none solid rgb(227, 119, 25);
    text-align: center;
}

.navbar {
    background-color: #2d0250;
    padding: 0px;

}

#logo {
    height: 90px;
    width: 90px;
    margin: -10px 56px -21px;
}

ul {
    list-style-type: none;
}
  
.fa {
    font-size: 52px;
    color: #b504e1;
    margin: 7px 37px -2px
}

.fa:hover {
    color: white;
}

li {
    float: left;
    height: 67px;
    border-radius: 25px;
    margin: 7px 2px -8px;
}

.tablestuff {
    width: 75%;
    margin: 66px 227px 34px;
}

#positionimage {
    width: 804px;
    height: 268px;
    margin: -197px 0px -41px 375px;
}

table, th, td {
    border: 1px solid white;
    width: 100px;
    border-radius: 25px;
}


#info {
    border-radius: 50%;
    background-color: #b504e1;
    width: 73px;
    height: 66px;
    padding-right: 14px;
    margin-right: -1px;
}

.fa-info {
    color: black;
    margin: 8px 27px 6px;
}

#memes {
    justify-content: center;
    width: 100px;
}

#memes img{
    width: 230px;
    height: 230px;
}
#second_place {
    position: relative;
    top: -99px;
    right: 28px;
    margin: 83px -301px -535px;
}

#first_place {
    position: relative;
    right: 185px;
    top: -31px;
    margin: -1px 148px -1px;
}

#third_place {
    position: relative;
    right: 14px;
    top: -212px;
    margin: 9px 253px -109px;
}

#name1 {
    position: relative;
    top: -15px;
}
#name2 {
    position: relative;
    right: 250px;
    top: 327px;
}
#name3 {
    position: relative;
    left: 248px;
    top: -86px;
}

/* .memes2{
    width: 30%;
    height: 200px;

}

.memes3{
    width: 30%;
    height: 200px;

} */